<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		/>
		<title>To-Do List</title>
	</head>
	<body>
		<div class="container">
			<h1>To Do List</h1>
			<h2 class="remaining">Items Left To Do: <%= left %></h2>

			<div class="container2">
				<ul class="items">
					<li>
						<span class="item header">Item</span>
						<span class="icon header">Done</span>
						<span class="icon header long">Delete</span>
						<span class="icon header short">Del</span>
					</li>
					<% for(let i = 0; i < info.length; i++) {%>
					<li class="newEntry">
						<% if (info[i].completed === true) {%>
						<span class="item completed"><%= info[i].item %></span>
						<span class="icon"><i class="fas fa-check-square"></i></span>
						<% }else{ %>
						<span class="item"><%= info[i].item %></span>
						<span class="icon"><i class="fas fa-square"></i></span>
						<% } %>
						<span class="icon"><i class="fas fa-trash"></i></span>
					</li>
					<% } %>
				</ul>
				<div class="add">
					<h2>Add an Item:</h2>
					<form action="/addItem" method="POST">
						<input type="text" placeholder="Item" name="item" />
						<input type="submit" placeholder="Submit" />
					</form>
				</div>
			</div>
		</div>

		<script src="main.js"></script>
	</body>
</html>
